*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Open Sans";
  src: url("./font/OpenSans-VariableFont_wdth\,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.sky {
  background-color: aliceblue;
  width: 100%;
  height: 100vh;
}
.city {
  width: 100%;
  height: 100vh;
}
.underground {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 40vh;
}

.far-light,
.mid-light,
.close-light {
  position: absolute;
  bottom: -100vh;
  width: 100%;
}

.night-city {
  position: absolute;
  bottom: -100vh;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sky-background {
  background: linear-gradient(to bottom, rgb(0, 102, 125), #e3ffff);
  height: 200vh;
}

canvas {
  padding: 0;
  margin: 0;
  position: absolute;
  height: 100vh;
}

/*below are transplanted from portfolio footer*/
.underground {
  position: absolute;
  top: 200vh;
  height: 40vh;

  width: 100%;
  background-color: black;
}
.light1-container {
  position: absolute;
}
.light1-source {
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: blue;
}
.light2-container {
  position: absolute;

  left: 20vw;
}
.light2-source {
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: red;
}
.light3-container {
  position: absolute;
  left: 40vw;
}
.light3-source {
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: green;
}
.light-focus {
  position: absolute;
  visibility: hidden;
  height: 15px;
  width: 10vw;
  border-radius: 50%;
  background-color: rgb(132, 132, 132);
  left: 20vw;
  top: 18vh;
}
.light1-beam {
  position: absolute;
  visibility: hidden;
  top: 7.5px;
  width: 30vw;
  height: 18vh;
  background-color: rgba(100, 100, 255, 0.2);
  clip-path: polygon(0 0, calc(15px) 0, 100% 100%, 20vw 100%);
}
.light2-beam {
  position: absolute;
  visibility: hidden;
  top: 7.5px;
  width: 30vw;
  height: 18vh;
  background-color: rgba(255, 100, 100, 0.2);
  clip-path: polygon(0 0, calc(15px) 0, 10vw 100%, 0 100%);
}
.light3-beam {
  position: absolute;
  visibility: hidden;
  top: 7.5px;
  left: -20vw;
  width: 30vw;
  height: 18vh;
  background-color: rgba(100, 255, 100, 0.2);
  clip-path: polygon(20vw 0, calc(20vw + 15px) 0, 10vw 100%, 0 100%);
}
.animation-container {
  position: absolute;
  width: 10vw;
  height: 10vh;
  left: 25vw;
  top: 17vh;
}
.footer-img {
  position: absolute;
  transform-origin: 50% 40%;
  transform: translate(-50%, -40%);
  width: 20vw;
  height: 33vh;
  filter: invert(1) brightness(1000%);
}
#crowd,
#boxing-ring,
#celebrating,
#punching {
  visibility: hidden;
}

@keyframes breathing {
  0% {
    transform: scale(0.95);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.6;
  }
  100% {
    transform: scale(0.95);
    opacity: 1;
  }
}

.scene-trigger {
  position: absolute;
  height: 15px;
  width: 10vw;
  border: 3px dashed grey;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  left: 20vw;
  top: 18vh;
  animation: breathing 3s ease-in-out infinite;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, opacity 0.5s ease-out;
}

.scene-trigger:active {
  background-color: rgb(41, 41, 41);
  animation: none; /* Stop breathing animation */
}

.scene-trigger.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
.ring-girl {
  background-color: aliceblue;
  border: 3px solid rgb(64, 112, 255);
  border-radius: 10px;
  left: 10vw;
  top: 16vh;
  filter: none !important;
  width: 10vw !important;
  height: 32vh !important;
  visibility: hidden;
}
.frame {
  position: absolute;
  left: 60vw;
  height: 40vh;
  top: 16vh;
  filter: none !important;
  pointer-events: none;
}
.form {
  left: 50vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgb(108, 53, 21);
  padding: 1vh;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 20vw; /* Adjustable width */
  transform-origin: center;
  gap: 1vh;
}
.form-components {
  width: 72%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2vmin;
}
input,
textarea {
  width: 100%;
}
label {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5vmin;
  color: rgba(255, 255, 255, 0.3);
}
.submit-button {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  background-color: rgb(116, 31, 0);
}
.submit-button:hover {
  color: red;
}

.submit-button::after {
  content: "Send";
}

.submit-button:hover::after {
  content: "Sign the Contract🩸";
}

.label-input {
  width: 100%;
}
.form-title {
  color: rgba(255, 207, 193, 0.3);
  font-size: 2vmin;
}

#form-container {
  visibility: hidden;
}

.phone-icon {
  position: absolute;
  left: 25vw;
  top: 6vh;
  width: 20vw;
  height: 30vh;
  visibility: hidden;
}

.underground-container {
  z-index: 1;
}
.dancing-crowd {
  height: 40vh;
  position: absolute;
  opacity: 6%;
}
/*below are code for information pannels, kind of ackward position i know*/
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
}
ul li {
  margin-bottom: 1vmin;
}
h2 {
  color: rgb(237, 160, 60);
  margin-bottom: 0.6vmin;
}
h3 {
  color: rgb(222, 155, 155);
  font-size: 1.6vmin;
  font-weight: bold;
}
p {
  color: rgb(175, 175, 175);
  font-size: 1.4vmin;
}
.tech-font {
  color: rgb(101, 103, 110);
}
@keyframes fade-border {
  0% {
    border-color: aqua;
  }
  100% {
    border-color: #00008b;
  }
}
.information-container {
  font-family: "Open Sans", sans-serif;
  width: 100vw;
  height: 100vh;
}
.about-me {
  position: absolute;
  padding: 1vmin;
  border-radius: 3vmin;
  background: linear-gradient(160deg, rgb(0, 23, 46), rgb(7, 53, 99));
  top: 113vh;
  left: 6vw;
  max-width: 14vw;

  border: 6px solid blue;
  animation: fade-border 3s infinite alternate;
}
.skills-technologies {
  position: absolute;
  padding: 1vmin;
  border-radius: 3vmin;
  background: linear-gradient(160deg, rgb(0, 23, 46), rgb(7, 53, 99));
  top: 120vh;
  left: 30vw;
  border: 6px solid blue;
  animation: fade-border 3s infinite alternate;
}
.frontend-tech-container {
  display: flex;
  gap: 0.8vmin;
}
.backend-tech-container {
  display: flex;
  gap: 0.8vmin;
}
.other-tech-container {
  display: flex;
  gap: 0.8vmin;
}
.contact-me {
  position: absolute;
  padding: 1vmin;
  border-radius: 3vmin;
  background: linear-gradient(160deg, rgb(0, 23, 46), rgb(7, 53, 99));
  top: 114vh;
  left: 74vw;
  border: 6px solid blue;
  animation: fade-border 3s infinite alternate;
}
/*below are for tech elements*/
.html {
  padding: 0.5vmin;
  background-color: rgb(252, 160, 118);
  border-radius: 1vmin;
}
.css {
  padding: 0.5vmin;
  background-color: rgb(252, 187, 118);
  border-radius: 1vmin;
}

.js {
  padding: 0.5vmin;
  background-color: rgb(252, 234, 118);
  border-radius: 1vmin;
}

.react {
  padding: 0.5vmin;
  background-color: rgb(223, 252, 118);
  border-radius: 1vmin;
}
.next {
  padding: 0.5vmin;
  background-color: rgb(156, 252, 118);
  border-radius: 1vmin;
}
.node {
  padding: 0.5vmin;
  background-color: rgb(118, 252, 138);
  border-radius: 1vmin;
}
.express {
  padding: 0.5vmin;
  background-color: rgb(118, 252, 187);
  border-radius: 1vmin;
}
.git-github {
  padding: 0.5vmin;
  background-color: rgb(118, 252, 234);
  border-radius: 1vmin;
}

.npm {
  padding: 0.5vmin;
  background-color: rgb(118, 216, 252);
  border-radius: 1vmin;
}
